@font-face {
    font-family: "miTitulo";
    src: url("Bungee-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-Light.ttf");
}

html{
    font-family: "Ubuntu";
}

button{
    font-family: "Ubuntu";
    font-weight: bold;
}

body{
    margin: 0 auto;
    background-color: #90A955;
}

#logo{
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 10px;
}

#logo:hover{
    animation-name: opa-logo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes opa-logo {
    from{opacity: 1;}
    to {opacity: 0.7;}
}

#header{
    width: 100%;
    height: 210px;
    background: linear-gradient(#31572C,#90A955);
}

#titulo-caja{
    display: flex;
    position: absolute;
    top: 15px;
    left: 40%;
    animation-name: titulo-move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
}

#titulo-sub{
    position: relative;
    top: 25%;
    left: -50%;
    font-family: 'miTitulo', sans-serif;
    font-size: 30px;
    color: #e9eeb0;
    animation-name: titulo-tam-sub;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

#titulo{
    font-family: 'miTitulo', sans-serif;
    font-size: 60px;
    color: #e9eeb0;
    
    animation-name: titulo-tam;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titulo-move{
    0%   {transform: translate(3000px, 0px);}
    100% {transform: translate(0px, 0px);} 
}

@keyframes titulo-tam{
    0%   {font-size: 60px;}
    50%   {font-size: 65px;}
    100% {font-size: 60px;} 
}

@keyframes titulo-tam-sub{
    0%   {font-size: 30px;}
    50%   {font-size: 35px;}
    100% {font-size: 30px;} 
}

#INC-REG{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-ir{
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #ECF39E;
}

#corredor{
    position: absolute;
    top: 148px;
    left: -20px;
    width: 80px;
    transform: scaleX(-1);
    height: 80px;
    animation-name: perro-corre;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}

@keyframes perro-corre{
    0% {
    margin-left: 1%;
    transform: scaleX(-1);
  }

  50% {
    margin-left: 96.5%;
    transform: scaleX(-1);
  }
  60% {
    margin-left: 96.5%;
    transform: scaleX(1);
  }
  90% {
    margin-left: 1%;
    transform: scaleX(1);
  }
  100% {
    margin-left: 1%;
    transform: scaleX(-1);
  }

}

#menu-caja{
    height: 250px;
    width: 0px;
    position: absolute;
    top: 23%;
}

#menu{
    background-color: #31572C;
    height: 280px;
    width: 420px;
    position: relative;
    top: 20px;
    left: -420px;
    margin-top: -70px;
    padding: 20px;
    padding-right: 0;
    z-index: 10;
}

#pata{
    width: 32px;
    height: 32px;
}

#btn-des{
    background-color: #31572C;
    width: 50px;
    height: 50px;
    position: relative;
    border: 0;
    z-index: 10;
    animation-name: cambia-btn-menu;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cambia-btn-menu {
    0%   {background-color: #31572C;transform: scale(1);}
    50%   {background-color: #376131;transform: scale(1.1) translate(0px, 2px);}
    100%   {background-color: #31572C;transform: scale(1);}
}

#menu-caja:hover{
    animation-name: deslizamiento;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 20;
}

@keyframes deslizamiento {
    from{transform: translate(0px,0px);}
    to{transform: translate(420px,0px);}
}

#lista-des{ 
    list-style: none;
}

#lista-des li{
    padding-bottom: 40px;
}

#lista-des a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#lista-des li:hover{
    color: white;
    text-decoration:underline;
    transform: scale(1.1);
}

#caja-flo-izq{
    text-align: center;
    position: fixed;
    width: 250px;
    height: 370px;
    border: 2px solid #31572C;
    background-color: #4F772D;
    border-radius: 10px;
    margin-left: 30px;
    padding-top: 10px;
}

#caja-flo-der{
    text-align: center;
    position: fixed;
    right: 1%;
    width: 250px;
    height: 370px;
    border: 2px solid #31572C;
    background-color: #4F772D;
    border-radius: 10px;
    padding-top: 10px;
}

#caja-fix{
    position: absolute;
    top: 35%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 0px 0px 10px 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.texto-caja-fix{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.imagen-caja{
    border: 5px solid #31572C;
    width: 192px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px;
}

.btn-caja{
    padding: 10px;
    border-radius: 10px;
    background-color: #ECF39E;
    border: 3px solid #31572C;
    box-shadow: 10px 10px 10px 0px;
}

.pie{
    background-color: #201e1e;
    width: 100%;
    height: 200px;
}

.tabla-not-adop{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.tabla-not-adop th span{
    border-top: 3px dashed #ECF39E;
    border-bottom: 3px dashed #e9eeb0;
}

.tabla-not-adop th,td{
    padding: 0px 150px 0px 150px;
}

.texto-tabla{
    font-family: "miTitulo";
    font-size: 20px;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
}

.img-not{
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.caja-not{
    margin: 20px 0 20px 0;
    box-shadow: 0 0 10px 0;
    border-radius: 10px;
}

.caja-img-not{
    width: 300px;
    height: 200px;
    background-color: rgb(235, 225, 225);
    padding: 0;
    box-shadow: 0 10px 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.caja-img-not:hover{
    z-index: 10;
    opacity: 0.7;
    visibility: visible;
    animation-name: amp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


.texto-not{
    text-align: center;
    font-size: 14px;
    padding: 55px 30px 0px 30px;
}

#informacion{
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-top: 2%;
    color: #e9eeb0;
    font-weight: bold;
}

#informacion button{
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#informacion-txt{
    padding: 10px;
    display: none;
    text-align: justify;
    box-shadow: 0px 0px 20px 1px;
    border-radius: 10px;
}

